/* 
    Document   : main_style
    Created on : Dec 29, 2010, 6:37:48 AM
    Author     : Sai Lin Naung
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

